<h1>Delete Article</h1>
<h2><%= @article.title -%></h2>
<%= form(:action => url(:admin_article, @article), :method => :delete) do %>
<p>
  Are you sure you want to delete this article?
</p>

<%= submit 'Delete' %> |
<%= link_to 'Cancel', url(:admin) %>

<% end =%>
