<p>Write an article man: <%= link_to "Click here", url(:new_admin_article) %></p>

<% @articles.each do |article| -%>
<p>
  <%= article.title %>
  <%= link_to "Edit", url(:edit_admin_article, article) %>
  <%= link_to 'Delete', url(:delete_admin_article, article) %>
</p>
<% end -%>
