- unless @archives.blank?
  %h2
    Archives
  %ul
    - @archives.each do |archive|
      %li
        %span
          = link_to archive[:name], url(:month, archive[:year], archive[:month])
          = pluralize(archive[:article_count], 'post')
